# Etapas
    # Importar base de dados
    # Visualizar a base de dados
    # Tratar a base de dado

# Questões:
    # Faturamento por loja
    # Quantidade de produtos vendidos por loja
    # Ticket médio por produto em cada loja
    # Enviar e-mail com relatório

# Bibliotecas requeridas:
pandas==2.0.2
